<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Films et séries</title> 
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<link rel="icon" type="image/png" href="./images/favicon.png" />
    </head>
	
	<body>
        {% include "nav.html" %}
        {% include "scripts.html" %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>