{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% for film in film_list %}
{% if film.film == display_film %}
<div class="film">
    <img src="{% static './images/' %}{{ film.image }}" class="affiche" alt="image_affiche"/>
    
    <div class="synopsis">
        <p>{{ film.synopsis }}</p>
    </div>
    
    <div class="carac">
        <ul>
            <li><a href="{{ film.imdb }}">{{ film.title }}</a></li>
            <li>{{ film.language }}</li>
            <li>{{ film.quality }}</li>
            <li>{{ film.rating }}/10</li>
        </ul>
    </div>
    
    <div class="liens">
        <ul>
        {% for link in film.links_set.all %}
            <li><a href="{{ link.link }}">{{ link.short_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="trait"></div>
    <div STYLE="clear:both;"></div>
</div>
{% endif %}
{% endfor %}
{% endblock %}