{% extends "base.html" %}

{% block content %}
<div id="aide">
    <h1>Page d'aide</h1>
    <br/>
    <h2>Introduction</h2>
        <p>Beaucoup d'utilisateurs de ce site, donc vous, se sont un jour demandé "Mais qu'est-ce que ça veut dire ce truc là ?!". Longtemps restées sans réponses, les questions de ce genre vont maintenant en avoir une.</p>
        <p>Vous pouvez à tout moment envoyer vos suggestions, demandes à <a href="mailto:contact_film@hatrix.fr">contact_film@hatrix.fr</a>.</p>
        <p>Je tiens également à préciser que ce site n'a qu'un but : l'enrichissement culturel. Tout comme tous les utilisateurs de peer2peer, c'est par le plaisir du partage que je fais cela.</p>
        <p>J'ajoute également que certains éléments comme des séries sous-titrées n'existent pas légalement, ce sont la plupart du temps des amateurs, fans qui les créent.</p>
        <p>Aucun bénéfice, quel qu'il soit n'est généré, qu'il y ait un ou 500 visiteurs. S'il y a un problème, contactez moi.</p>
    <br/>
    
    <h2>Navigation</h2>
        <p>Vous pouvez naviguer sur le site en utilisant les 3 boutons situés en haut de page. Ceux-ci permettent de consulter 3 pages, permettant de télécharger respectivement des films, des séries ou bien de la musique, des jeux.</p>
    <br/>
    
    <h2>Visites</h2>
        <p>Le nombre de visites total et le nombre de visiteurs uniques sont affichés en bas de page séparés par un slash "/".</p>
        <p>Aucun bénéfice n'est toutefois engendré par ce site au profit de qui que ce soit. Aucune pub ne sera également déployée sur ce site.</p>
    <br/>
    
    <h2>Téléchargement</h2>
        <p>Pour télécharger via les liens proposés, il vous suffit soit de cliquer dessus et ensuite d'accéder à ce que vous souhaitez en cliquant encore une fois dessus, soit vous devrez faire un clic droit puis "enregister sous".</p>
        <p>Cette dernière méthode est à utiliser si vous avez installé un logiciel ou un plugin à votre naviguateur pour lire en ligne les contenus multimédia et que vous souhaitez télécharger ces contenus sur votre disque dur.</p>
        <p>Bien entendu, si vous souhaitez visionner en ligne, vous le pouvez via ces logiciels, vous pouvez par exemple utiliser <a href="http://www.videolan.org/vlc/">VLC</a>.</p>
        <p>Notez également que vous ne pouvez pas avancer dans le fichier tant que celui n'a pas téléchargé la partie désirée, le téléchargement commence au début de celui-ci.</p>
    
    <br/>
    <h2>Films et Séries</h2>
        <p>Les films et séries proposés ne sont pas toujours d'une même qualité, il convient donc d'indiquer celle-ci avec les langues disponibles.</p>
        <p>Un synopsys ainsi que ces informations sont renseignées dans plusieurs blocs. Le premier constitue celui du synopsis et le suivant celui des caractéristiques, classées dans cet ordre : langue/qualité/note</p>
        
        <h3>Synopsys</h3>
        <p>Si vous ne connaissez pas ce qui est proposé, vous pouvez lire le synopsys pour vous donner une brève idée de ce dont il est question.</p>
        <p>Vous pouvez obtenir plus d'informations en allant sur Allociné ou IMDB via le lien porposé dans le nom (voir ci-dessous).</p>
        
        <h3>Nom</h3>
        <p>Le premier élément apparaissant dans les cacractéristiques est le nom de la série ou du film. En cliquant dessus, on accède en général à une page Allociné donnant des informations sur ce contenu.</p>
        <p>Il peut cependant arriver qu'Allociné ne dispose pas des informations nécessaires, IMDB est donc choisi. C'est le cas pour Mythbusters par exemple.</p>
        
        <h3>Langue</h3>
        <ul>
            <li>FR : Français (pas québécois)</li>
            <li>Français : Français (pas québécois)</li>
            <li>Anglais : Anglais</li>
            <li>Vo : Langue d'origine</li>
            <li>Vostfr : Langue d'origine, sous-titrée en français</li>
            <li>Multi : Plusieurs langues sont intégrées au fichier. Généralement avec des sous-titres de ces langues.</li>
        </ul>
        
        <h3>Qualité</h3>
        <ul>
            <li>Standard : Qualité satisfaisante, épisodes ˜ 350Mo, films ˜ 700Mo</li>
            <li>Moyenne : Qualité pas vraiment top mais regardable</li>
            <li>720P : HD 720p, bonne qualité</li>
            <li>1080P : HD 1080p, encore mieux</li>
        </ul>
        
        <h3>Note</h3>
        <p>Les notes ne sont en aucun cas attribuées par le webmaster de ce site mais par allociné. Les notes sont telles qu'elles étaient lors de l'ajout du film ou de la série.</p>
        <p>La meilleure note entre celle des spectateurs et de la presse est prise. Elles sont toutes sur 5.</p>
        
        <h3>Liens</h3>
        <p>Les liens apparaissent sous le bloc des cartactéristiques en bleu. Pour les séries, ils équivalent au numéro de la saison. Pour les films, ils équivalent au nom du film, les trilogies étant consignées en un seul "article".</p>
    
    <br/>
    <h2>Foutoir</h2>
        <p>Des albums de musique ainsi que des jeux sont présents sur cette page.</p>
        <p>Il se peut toutefois que des liens vers des jeux ne soient plus fonctionnels.</p>
        
        <h3>Musique</h3>
            <p>L'album, son artiste, ainsi que son genre sont présents dans le tableau. Le lien l'est également sous une autre forme. Celui est placé sur la qualité de l'album en question.</p>
            <p>Pour plus d'informations sur les qualités, visitez ces pages : <a href="http://wiki.hydrogenaudio.org/index.php?title=LAME#VBR_.28variable_bitrate.29_settings">LAME</a>, <a href="http://fr.wikipedia.org/wiki/Variable_bitrate">VBR</a>, <a href="http://fr.wikipedia.org/wiki/Constant_bitrate">CBR</a></p>
            <p>Il peut en effet y en avoir plusieurs différentes, comme avec les films et séries :</p>
           
            <ul>
                <li>Vx : Encodage via LAME, plus le "x" est faible, mieux c'est. V0 : 245VBR</li>
                <li>x VBR : Constant Bitrate, plus c'est haut, mieux c'est.</li>
                <li>x CBR : Variable Bitrate, plus c'est haut, mieux c'est. Plus lourd qu'un VBR.</li>
                <li>FLAC : Losless, qualité irréprochable mais lourd</li>
            </ul>
            
        <h3>Jeux</h3>
            <p>Les notes attribuées sont celles telles qu'elles étaient lorsque le jeu a été ajouté sur le site. Elles sont récupérées à partir de jeuxvideo.com.</p>
            <p>En raison de la place limitée sur le disque dur du serveur, certains jeux peuvent être supprimés en étant tout de même présents sur la page.</p>
</div>

{% include "footer.html" %}
{% endblock %}