<nav>
    <ul>
        <li><a href="/films">Films</a></li>
        <li><a href="/series">Séries</a></li>
    </ul>
</nav>

<div id="nav_news">
    <div>
        <a href="/aide">Aide</a>
    </div>
    <div>
        <a href="/news">News</a>
    </div>
</div>
