{% extends "base.html" %}
{% block content %}
<div id="aide_nav">
    <a href="/news">Tout</a>
    <a href="/news/ajouts">Ajouts</a>
    <a href="/news/suppressions">Suppressions</a>
    <a href="/news/autres">Autres</a>
</div>

{% if not news %}
<div class="news">
    <p>Pas de news sous cette catégorie !</p>
</div>
{% else %}
{% for article in news %}
<div class="news">
    <div class="titre_news">
        <h1>{{ article.category }}</h1>
    </div>
    
    <div class="date_news">
        <h2>{{ article.date }}</h2>
    </div>
    <div STYLE="clear:both;"></div>
   
    <p>{{ article.message|linebreaks }}</p>
</div>
<div class="trait"></div>
{% endfor %}
{% endif %}
{% endblock %}

