*{
    margin:0;
    padding:0;
    font-family:Futura, Helvetica, sans-serif;
    list-style:none;
}

@font-face{
    font-family:'Futura';
    src: url('/static/Futura Bk BT Book.ttf');
}


html{
    height: 100%;
    width: 100%;
    background: url(background.jpg);
    background-size: 100% 100%;
    background-attachment:fixed;
}

body{
    min-width: 800px;
    width:50%;
   
    margin:auto;
    margin-top:50px;
}
nav ul{
    text-align:center;
    margin-bottom:10px;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left:8%;
    margin-right:8%;
   
    padding-left:20px;
    padding-right:20px;
    width:90px;

    font-size: 30px;
    background-color: #01a5b9;

    border: solid #013d42 1px;
    border-radius:3px;
   
    box-shadow: 0 0 20px #0d8aa9;
}

nav li:hover{
    background: #02758c; /* Old browsers */
    background: -moz-linear-gradient(top,  #02758c 1%, #01a5b9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#02758c), color-stop(100%,#01a5b9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #02758c 1%,#01a5b9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #02758c 1%,#01a5b9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #02758c 1%,#01a5b9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #02758c 1%,#01a5b9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02758c', endColorstr='#01a5b9',GradientType=0 ); /* IE6-9 */
}

nav li a{
    text-decoration: none;
    color: white;
}

.foutoir{
    width: 85%;
    min-height:130px;
    margin:auto;
    box-shadow: 0 0 1px #838383;
    color:white;
    box-shadow: inset 0 0 10px #000;
    margin-top:20px;
    margin-bottom:80px;;
   
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.foutoir table{
    text-align:center;
    border-spacing:0;
    box-shadow:0 0 10px #000;
    background:#101012;
    width:100%;
}
.foutoir tr {
    border-bottom: 1px #373737;
}
.foutoir td{
    padding:20px;
    border-bottom:1px #020202 solid;
    border-left:1px solid #020202;
    box-shadow:inset 0 0 1px #373737;
}

.foutoir th{
    border-bottom:1px #000 solid;
    padding :4px;
    color: #606060;
}
 
.foutoir_1{
    margin-top:50px;
    color:#fff;
    padding-left:30px;
    padding-top:8px;
    padding-bottom:5px;
    font-size:25px;
    border-top:1px solid #0d8aa9;
   /*   box-shadow: inset 0 0 2px #000000; */
}
 
.trait{
    margin:auto;
    width:40%;
    border: solid 1px #060606;
    margin-top:40px;
}
 
.film{
    margin-top:40px;
    margin-left:5%;
}

.film .affiche{
    border: solid white 2px;
    box-shadow: 0 0 20px black;
    float:left;
    margin-right:20px;
    height:270px;
    width:180px;
}

.synopsis, .carac, .liens {
    margin-top:2px;
    display: inline-block;
    width:65%;
    background-color:black;
    box-shadow: 0 0 1px #838383;
}
 
.synopsis{
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 100px;
   
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    height:130px;
    margin-bottom:18px;
    text-align:justify;
}

.carac{
    height:50px;
    margin-bottom:18px;
}


.liens{
    height:50px;
    text-align:center;
    box-sizing:border-box;
    color:white;
}

.film p{
    color:white;
}

.film ul{
    padding-top: 10px;
    padding-bottom: 10px;
    margin:auto;
}

.carac ul{
    text-align:center;
}

.carac li{
    display:inline-block;
    margin-left:8px;
    margin-right:8px;
    color:white;
}

.carac li a{
    text-decoration:underline;
    color:white;
}


.liens li{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

.liens a, .foutoir a{
    text-decoration:none;
    color:#017D8B;
}

.liens a:hover, .foutoir a:hover{
    color:white;
}

.news{
    margin:auto;
    margin-top: 40px;
    min-width:800px;
    width:50%;
    color:#fff;
    padding: 10px 10px 10px 10px;
    background-color: black;
    box-shadow: 0 0 1px #838383;
}

.news .titre_news{
    float:left;
}

.news .date_news{
    float:right;
}

.date_news h2{
    margin-top:3px;
    font-size:1em;
}

.titre_news h1{
    font-size:1.2em;
    text-decoration:underline;
}

.news p{
    margin-top:15px;
}

.news hr{
    width:110px;
    margin-top:10px;
    margin-bottom:12px;
    margin-left:auto;
    margin-right:auto;
}   

#nav_news{
    margin:auto;
    width:505px;
    margin-top:40px;
    margin-bottom:30px;
}

#nav_news a{
    color:#017D8B;
}

#nav_news div{
    margin:auto;
    display:inline-block;
    width:250px;
    background-color: black;
    box-shadow: 0 0 1px #838383;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
} 

#aliste{
    text-align:center;
    color:#017D8B;
}

#aliste a{
    color:#017D8B;   
}

#liste{
    margin:auto;
    margin-top:20px;
    text-align:center;
}

#liste a{
    color:#017D8B;
    display:inline-block;
    margin-bottom:5px;
}

#form{
    margin:auto;
    background-color:black;
    color:white;
    text-align:center;
    box-shadow: 0 0 1px #838383;
    padding: 10px 10px 10px 10px;
}

#form input, #form textarea{
    width:300px;
}

#form textarea{
    height:80px;
}

#form tr{
    padding-bottom:100px;
}

#aide_nav{
    text-align:center;
    margin-bottom:20px;
}

#aide_nav a{
    color:#017D8B;
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}

#aide{
    width:70%;
    color:white;
    margin:auto;
}

#aide h1{
    margin-left:-20px;
}

#aide h2{
    margin-bottom:10px;
    margin-left:-10px;
}

#aide ul{
    margin-top:10px;
}

#aide h3{
    margin-bottom:10px;
    margin-top:15px;
}

#aide li{
    list-style:circle;
    margin-left:20px;
}

#aide a{
    color:#017D8B;
    text-decoration:none;
}

#aide p{
    text-align: justify;
    text-justify: newspaper;
}

footer{
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 15px;
    width: 20%;
}
